@charset "UTF-8";

.main_img {
  width: 100%;
  height: 480px;
  background-size: cover;
  background-image: url(/images/main.png?03b25d09b3daeb7eed9844ca1a60f878);
  background-position: 50%;
  position: relative;
}

#mainContainer {
  margin: auto;
  text-align: center;
}

/* ユーザーのプロフィール画像 */

#UserImage {
  position: absolute;
  top: 450px;
  left: 500px;
  background-image: url(/images/userImage.png?d8e6f070e0a41b1ab32fe101518a3db4);
  width: 128px;
  height: 128px;
  border-radius: 50%;
  background-position: center center;
  border: 2px solid black;
  box-shadow: 0px 0px 10px black, inset 0px 0px 10px rgba(0, 0, 0, 0.8);
}

#userInfo {
  text-align: left;
  margin: 0px 300px 0px 650px;
}

#UserName {
  margin-top: -15px;
}

#UserComment {
  margin-top: -20px;
}

/* ブログリスト */

.background {
  margin: 20px 20px;
}

.background p {
  margin: 0;
}

.card {
  max-width: 700px;
  margin: 20px auto;
  background-color: #fff;
  padding-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}

.card-container {
  padding-top: 5px;
}

.image-box {
  border-radius: 5px 5px 0 0;
  background-color: #f8f8f8;
  margin-bottom: -6px;
  height: 120px;
}

.title-box {
  margin: 0 auto;
  padding-left: 5px;
  font-size: 18px;
  padding: 20px 10px 10px;
}

.line {
  height: 1px;
  background: #e8e8e8;
  margin-bottom: 10px;
}

.desc-box {
  padding: 0 10px 10px;
  color: #666666;
  font-size: 12px;
}

/* ヘッダー */

#branding {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  height: 50px;
  background-color: #313131;
  overflow: hidden;
}

#branding p {
  color: #fff;
  font-size: 100%;
  letter-spacing: 10px;
  line-height: 15px;
  padding-left: 3%;
  width: 400px;
}

#branding nav {
  margin-right: auto;
}

#login-button {
  text-decoration: none;
  color: black;
  background: white;
  border-radius: 4px;
  font-size: 70%;
  letter-spacing: 10px;
  line-height: 15px;
  margin-right: 10px;
}

